CONCRNT_SUBKEY=
CONCRNT_HOST=

# 追加投稿先のTimeline / Community ID
# 複数指定する場合はカンマ区切り
# 空欄ならHome Timelineのみに投稿
POST_TIMELINE=

POST_TIME=23:50
TIMEZONE=Asia/Tokyo

OPENAI_API_KEY=
OPENAI_MODEL=

RETRY_INTERVAL_SECONDS=60
MAX_RETRIES=3
